<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logodemung"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sidemung"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.profile.EditprofileActivity"
            android:parentActivityName=".views.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.Pengaduan.PengaduanActivity"
            android:exported="false"
            android:parentActivityName=".views.main.MainActivity" />
        <activity
            android:name=".views.UbahSandi.ResetSandi"
            android:exported="false" />
        <activity
            android:name=".views.recap.recapFragment"
            android:exported="false" />
        <activity
            android:name=".views.report.report"
            android:exported="false" />
        <activity
            android:name=".views.auth.Register"
            android:exported="false"
            android:parentActivityName=".views.auth.Login" />
        <activity
            android:name=".views.auth.Login"
            android:exported="false"
            android:parentActivityName=".views.auth.StartPage" />
        <activity
            android:name=".views.auth.StartPage"
            android:exported="false" />
        <activity
            android:name=".views.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.splash.splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>